.navPokemonsContainer {
    width: 40%;
}

.navPokemonsContainer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0;
}

.navPokemonsContainer ul li {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    background-color: var(--dracula-color-secundary);
    margin-top: 10px;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
}

.navPokemonsContainer ul li img {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    background-color: var(--dracula-color);
    margin-right: 30px;
    width: 80px;
    height: 80px;
}

.navPokemonsContainer ul li div {
    display: flex;
    flex-direction: column;
}
