.navPokemonsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navPokemonsContainer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0;
    width: 100%;
}

.navPokemonsContainer li {
    display: flex;
    align-items: center;
    background-color: var(--dracula-color-secundary);
    margin-top: 10px;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    animation: hideAndShow 600ms linear;
}

@keyframes hideAndShow {
    from {opacity: 0;}
    to {opacity: 1;}
}

.navPokemonsContainer ul li img {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    background-color: var(--dracula-color);
    margin-right: 30px;
    width: 80px;
    height: 80px;
}

.navPokemonsContainer ul li div {
    display: flex;
    flex-direction: column;
}

.navPokemonsContainer button{
    border: none;
    width: 85px;
    height: 40px;
    background-color: var(--dracula-color);
    background-repeat: no-repeat;
    cursor: pointer;
}

.navPokemonsContainer button:focus {
    outline: none;
}

.up {
    background-image: url('../../assets/btn-prev.svg');
}

.down {
    background-image: url('../../assets/btn-next.svg');
}