.containerMainPokedex {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 4px solid var(--red-color);
  border-radius: 4px;
  width: 80%;
  margin: 30px auto 30px auto;
}

.filter {
  margin-left: 10px;
}